* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact {
  padding: 20px;
}

body {
  position: relative;
}

.main {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(0, 255, 179);
  color: rgb(89, 0, 255);
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.test {
  border: 1px solid;
}

body {
  background-color: #fff;
}

.container {
  text-align: center;
  margin: 20px;
}

.container .filter {
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin: 10px;
}

.container .filter:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  text-align: center;
  border-radius: 20px;
  margin: 30px auto;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: 0 0 20px #282c34;
          box-shadow: 0 0 20px #282c34;
  cursor: pointer;
}

.img-card {
  width: 300px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-title {
  font-size: 18px;
  color: #d10;
}

.price {
  font-weight: bold;
}

.height-500 {
  height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
}

.sidebar {
  height: 100vh;
  background-color: #eff3ff;
  color: #000;
  padding: 15px 10px !important;
  border-radius: 10px;
}

.sidebar li {
  font-size: 20px;
  margin: 2px;
  padding: 0;
  border-radius: 10px;
}

.sidebar li a {
  cursor: pointer;
  scale: 1;
  background-color: #9a61ce;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar li a:hover {
  background-color: #6d4693;
  scale: 1.05;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar li a:focus {
  position: relative;
  background-color: #6d4693;
  scale: 1.05;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar li a:focus::before {
  content: "";
  position: absolute;
  border: 13px solid;
  border-color: transparent transparent transparent #6d4693;
  z-index: 5;
  left: calc(100% + 7px);
  top: calc(50% - 13px);
  scale: 1.05;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
  .navbar-collapse {
    padding: 20px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 1000;
  }
}