// Import Global Rules
@use "../layout/global-rules";
// Import Pages
@use "../pages/contact";
// Import Variables
@use "../variables/colors" as *;
// Import Mixins
@use "../helpers/mixins" as *;
// Import Functions
@use "../helpers/functions" as *;

body {
  position: relative;
}
.main {
  @include border-radius(500px, 50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  background-color: $main;
  color: $second;
}
$grid_cols: 12;
@for $i from 1 through $grid_cols {
  .col-#{$i} {
    width: percentage($i / $grid_cols);
  }
}
