// Import Global Rules
@use "../layout/global-rules";
// Import Pages
@use "../pages/contact";
// Import Variables
@use "../variables/colors" as *;
// Import Mixins
@use "../helpers/mixins" as *;
// Import Functions
@use "../helpers/functions" as *;

body {
  position: relative;
}
.main {
  @include border-radius(500px, 50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  background-color: $main;
  color: $second;
}
$grid_cols: 12;
@for $i from 1 through $grid_cols {
  .col-#{$i} {
    width: percentage($i / $grid_cols);
  }
}

// Start

.test {
  border: 1px solid;
}
body {
  background-color: #fff;
}
.container {
  text-align: center;
  margin: 20px;
}
.container .filter {
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin: 10px;
}
.container .filter:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #000;
  transition: all 0.4s ease-in-out;
}
.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  border-radius: 20px;
  margin: 30px auto;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 20px #282c34;
  cursor: pointer;
}
.img-card {
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.card-title {
  font-size: 18px;
  color: #d10;
}
.price {
  font-weight: bold;
}
.height-500 {
  height: 500px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
}
.sidebar {
  height: 100vh;
  background-color: #eff3ff;
  color: #000;
  padding: 15px 10px !important;
  border-radius: 10px;
}
.sidebar li {
  font-size: 20px;
  margin: 2px;
  padding: 0;
  border-radius: 10px;
}
.sidebar li a {
  cursor: pointer;
  scale: 1;
  background-color: #9a61ce;
  transition: all 0.3s ease-in-out;
}
.sidebar li a:hover {
  background-color: #6d4693;
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
.sidebar li a:focus {
  position: relative;
  background-color: #6d4693;
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
.sidebar li a:focus::before {
  content: "";
  position: absolute;
  border: 13px solid;
  border-color: transparent transparent transparent #6d4693;
  z-index: 5;
  left: calc(100% + 7px);
  top: calc(50% - 13px);
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .navbar-collapse {
    padding: 20px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    z-index: 1000;
  }
}
